.note-view {
  .sub-header {
    margin: 20px 0;
    display: flex;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    .refresh-notes {
      margin-left: auto;
      margin-top: -2.5px;
      border: none;
      background: none;
      font-size: 20px;

      &:hover {
        color: gold;
      }
    }
  }

  &__sort {
    border-bottom: 1px solid gold;
  }
}
