@import './styles/reset';
@import './styles/forms';
@import './styles/flex';
@import './styles/modifiers';


.aether {
  position: relative;
}

.inner {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 15px;
}
