{
  "presets": [
    ["es2015", { "modules": false }],
    "latest",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
