{
  "presets": [
    ["es2015", { "modules": false }],
    "latest",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "dev": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
