@import url(
  'https://fonts.googleapis.com/css?family=Noto+Serif'
);

@import '_icons';

// colors
$black: black;
$grey: #F7F7F7;

$font-family: 'Noto Serif', serif;

// reset

body {
  font-family: $font-family;
  color: $black;
  margin: 0;
}

// forms

fieldset,
input,
button,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  font-family:: $font-family;
}

button {
  background: none;
  border: 1px solid $black;
  color: $black;
  text-transform: uppercase;
  padding: 15px 20px;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }

  &--filled {
    color: white;
    background: $black;
  }
}

// reused

.overlay {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

// animations

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
