fieldset {
  border: none;
  padding: 0;
  margin: 0 0 5px 0;
}

textarea {
  width: 100%;
  min-height: 15vh;
}

input[type="text"],
input[type="password"]  {
  font: 16px Times New Roman;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gold;
}
