header {
  position: relative;

  h1 {
    font-size: 24px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 24px;

    &:hover {
      color: red;
    }
  }
}

.editor {
  padding: 15px;
  .note-options {
    position: relative;

    button {
      border: none;
      background: none;
      font-size: 12px;
      position: absolute;
      color: black;
      right: 0;

      &:hover {
        color: green;
      }
    }
  }

  .content {
    &-view,
    &-field {
      padding-left: 5px;
    }

    &-view {
      border-left: 5px solid gold;
    }

    &-field {
      border-left: 5px solid grey;
    }

  }
}
