header {
  position: relative;

  h1 {
    font-size: 24px;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.editor {
  .note-options {
    button { margin-left: auto; }
  }
}
