.note-list {
  padding: 15px;

  .sub-header {
    margin: 20px 0;
    display: flex;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    .refresh-notes {
      margin-left: auto;
      border: none;
      background: none;
    }
  }

  &__sort {
    border-bottom: 1px solid gold;
  }

  &__list {
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
  }
}
