.note-list {
  padding: 15px;

  &__page-title {
    padding-bottom: 5px;
    font-size: 20px;
  }

  &__sort {
    border-bottom: 1px solid gold;
  }

  &__list {
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
  }
}
