.main-header {
  background: black;

  h1,
  .routes-field {
    display: inline-block;
    color: white;
  }

  .routes-field {
    #routes {
      color: white;
    }
  }

  h1 {
    font-size: 24px;
    margin: 0;
    padding: 15px 30px;

  }
}
